/* ------
  GENERAL RULES
------ */

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  font-family: 'Nunito', verdana, sans-serif;
}

/*a, a:visited, a:focus {
  color: green;
}*/

.icon {
  width: 50px;
  vertical-align: middle;
  margin: 5px;
  background: #ececec;
  border-radius: 100%;
}

a.actionLink {
  color: darkslategray;
  font-weight: bold;
}

a.actionLink:hover,
a.actionLink:hover.icon {
  color: black;
  text-decoration: none;
  filter: brightness(0.8);
}

html {
    background-color: #cecece;
}

body {
  position: relative;
  min-width: 300px;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 10px;
}

/* HEADER */

header {
  position: relative;
}

#entete {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Messages d'erreur, confirmation, neutre */
.headMsg, .headMsg_bad, .headMsg_good {
  padding: 25px 10px;
  /*background-color: lightGray;*/
  background: url('../img/icon/info.png') no-repeat #bddaef;
  background-position: 10px;
  background-size: 50px;
  padding-left: 75px;
}

.headMsg_bad {
  background-color: #efc9bd;
  background-image: url('../img/icon/error.png');
}

.headMsg_good {
  background-color: #c0efbd;
  background-image: url('../img/icon/good.png');
}

/* Navigation menu */
#disconnectForm {
  /*color: gray;*/
  /*font-size: 0.6em;*/
  display: inline;
}

#disconnectForm input {
  font-size: 1em;
  text-align: center;
}

#show-menu-link {
  display: none;
}

#menu-navig {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0px;
  margin: 15px 0px;
}

#menu-navig li a {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  color: darkslategray;
  text-decoration: none;
  background: #eee;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1.3em;
}

#menu-navig li {
  display: table-cell;
  text-align: center;
  width: 100%;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

@media all and (max-width: 500px) {
  #menu-navig li {
    text-align: left;
  }
}

#menu-navig li:first-child {
  border-left: 1px solid grey;
}

#menu-navig li a:hover {
  color: white;
  background-color: darkslategray;
}

.menuIcon {
  width: 50px;
  margin-left: -50px;
  vertical-align: middle;
  transition: 0.3s;
}

#menu-navig li:hover .menuIcon {
  transition: 0.5s;
  filter: invert(1);
}

@media all and (max-width: 850px) {
  .menuIcon {
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    margin: auto;
  }
  #menu-navig li a, #menu-navig li {
    padding-bottom: 5px;
  }
}

/* Connection */
#connectionMsg {
  position: absolute;
  top: 30px;
  right: 50px;
  text-align: right;
}

#connectionForm {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: end;
}

#connectionForm * {
  display: inline-block;
  max-width: 150px;
}

#inscriptionLink {
  font-size: 1em;
  border-radius: 10px;
  text-decoration: none;
  background-color: #f0f0f0;
}

@media all and (max-width: 1000px) {
  #connectionForm {
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
  }

  #connectionForm * {
    flex-grow: 1;
    max-width: none;
    width: 48%;
    margin: 5px;
  }
}

/* FOOTER */
footer {
  color: #777;
  text-align: center;
  font-size: 0.8em;
}

footer p {
  display: inline-block;
  padding: 5px 20px;
  margin: 0px;
}

#resetLink {
  color: gray;
}

/* CONTENT */
content {
  display: block;
  position: relative;
  text-align: justify;
  border-width: 15px;
  border-style: solid;
  border-color: transparent;
  border-image-source: url('../img/bordures_1.svg');
  border-image-slice: 49%;
  border-image-width: 120px;
  border-image-outset: 30px;
  border-image-repeat: round;
  background-color: #fafafa;
  min-height: 150px;
  padding: 20px;
  margin: 20px 10px;
  overflow-x: auto;
}

h1 {
  color: #1d4363;
}

content h1, content h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: #3881b7;
}

#imgLamp {
  vertical-align: middle;
}

/* ------
  ITEM RULES
------ */
.img-item {
    max-width : 200px;
    max-height: 200px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
}

.description-item{
    text-align:justify;
}

.clear {
    clear: both;
}

/* ------
  WISHLIST RULES
------ */

#listsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: red;
  position: absolute;
  top: 0px;
  right: 0px;*/
}

.lists {
  /*border: 1px dashed #ff000033;*/
  list-style-type: none;
  padding-left: 20px;
  padding-bottom: 30px;
}

.lists .list:first-child {
  height: 40px;
  margin-top: -5px;
}

.list {
  margin-bottom: 15px;
  padding-left: 20px;
  margin-top: -30px;
  height: 80px;
  position: relative;
  border-left: 3px solid #bbb;
  border-radius: 0px 15px;
  pointer-events: none;
}

.listTitle {
  color: #339;
  font-size: 1.1em;
  text-decoration: none;
  position: relative;
  bottom: -70px;
  pointer-events: auto;
  white-space: nowrap;
  /*font-weight: bold;*/
}

.lists .list:first-child .listTitle {
  bottom: -30px;
}

.listTitle:hover {
  text-decoration: underline;
}

.listeDateExpiration {
  display: block;
  position: absolute;
  color: gray;
  padding-left: 15px;
  font-size: 0.8em;
  bottom: -30px;
  pointer-events: auto;
}

#items {
  padding: 0px;
}

li.item {
  display: block;
  background: linear-gradient(to top, rgb(230, 230, 255), rgba(230, 230, 255,0.1) 15%) ;
  border-radius: 5px;
  padding: 10px 20px 10px 140px;
  margin: 10px auto;
  min-height: 100px;
  width: 50%;
  position: relative;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 3px lightgray;
}

.itemImgContainer {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.listItemImg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
  border: 2px solid #1C6EA455;
  box-shadow: 1px 1px 3px lightgray;
}

a.itemTitle {
  color: #555;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  text-align: left;
}

.itemTitle:hover {
  text-decoration: underline;
}

.deleteLink {
  display: inline-block;
  color: gray;
  font-size: 0.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s;
}

.deleteLink:hover {
  color: darkred;
  font-size: 0.8em;
}

.deleteLink img {
  width: 30px;
}

.deleteLink:hover img {
  filter: brightness(0.8);
}

.itemState {
  display: block;
  font-size: 0.8em;
  color: gray;
}

input[type=text],
input[type=password],
input[type=number] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
}

input[type=number] {
  padding: 0px;
  padding-left: 15px;
}

textarea {
  width: 100%;
  height: 150px;
  max-height: 350px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
  font-weight: bold;
}

input[type=date]{
  padding: 10px 15px;
  margin: 8px 0px;
}

input[type=submit],
#inscriptionLink {
  font-size: 1em;
  color: #1d4363;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

input[type=submit]:hover,
#inscriptionLink:hover {
  background-color: #eaeaea;
  box-shadow: 3px 3px 5px lightgray inset;
}

.form-date {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div > p {
  margin-right: 15px;
  font-size: 0.9em;
}

#cagnotteForm {
  /*background-color: gray; */
}

#cagnotteForm * {
  margin: 0px;
  margin-top: 5px;
  text-align: left;
}

#listMessages {
}

.message {
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: lightgrey;
  padding: 5px;
  margin-bottom: 5px;
}

.mess-creator > span{
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.9em;
}

.mess-body {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  min-height: 50px;
  max-height: 100px;
  overflow-y: auto;
  transition: 0.3s;
}

/* Adaptations mobile */
@media all and (max-width: 500px) {
  #entete {
    text-align: center;
    display: block;
  }

  header h1 {
    display: inline-block;
    vertical-align: middle;
  }

  #imgLamp {
    height: 30px;
    position: absolute;
    left: 5px;
  }

  body {
      width: inherit;
  }

  content {
    margin: 3px;
    padding: 0px;
  }

  .lists .list:first-child {
    margin-top: -20px;
  }

  #show-menu-link {
    margin: 0px;
    display: inline-block;
    position: fixed;
    right: 5px;
    cursor: pointer;
    z-index: 1;
    width: 50px;
    box-shadow: 0px 0px 2px gray inset;
    opacity: 0.7;
  }

  #show-menu-link:hover {
    filter: brightness(0.8);
    opacity: 1;
  }

  #menu-navig {
    padding: 5%;
    width: 90%;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
  }

  #menu-navig li, #menu-navig li:first-child {
    display: block;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  #menu-navig li a {
    width: 100%;
    margin-bottom: 2px;
    padding: 5px 0px;
    border-left: 3px gray solid;
    border-right: 3px gray solid;
  }

  #menu-navig .menuIcon {
    margin-left: 0px;
    display: inline;
  }

  #connectionMsg, #connectionForm {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    display: none;
  }

  li.item {
    min-height: 75px;
    padding: 10px 20px 10px 100px;
  }

  .itemImgContainer {
    width: 75px;
    height: 75px;
  }

  footer p {
    display: block;
    padding: 5px 20px;
  }

  a.actionLink {
    background-color: gray;
    display: block;
    text-align: left;
    color: white;
    text-decoration: none;
  }

  .icon {
    width: 40px;
    margin: 5px 10px;
  }
}
